.sensor-label {
  font-family: System-Regular;
  fill: white;
  text-anchor: middle;
  text-length: 32;
  font-size: 50;
}

.sensor-data {
  font-family: System-Light;
  fill: red;
  text-anchor: middle;
  text-length: 32;
  font-size: 60;
}
